<section id='user-info'>

  <img src="<%= current_user.image_url %>"/></br>
  <%= current_user.name %></br>
  <%= current_user.bio %></br>
  <%= current_user.city %>,
  <%= current_user.state %>

 </section>


<!-- my items table
 -->

<h1>Things I've Borrowed</h1>
<table class="table table-bordered table-hover">
<section id='user-borrows'>
<thead>
  <tr>
      <td>Name</td>
      <td>Category</td>
      <td>Description</td>
  
    </tr>

</thead>
<tbody>
  <tr>
  <% @my_borrows.each do |borrow| %>

    <td><%= borrow.item.name%></td>
    <td><%= borrow.item.category %></td>
    <td><%= borrow.item.description %></td>
<% end %>
<tr>
</tbody>
</section> </table>



<!-- things I own -->

<h1>Things I Own</h1>
<section id='user-items'>
<table class="table table-bordered table-hover">
<thead>
  <tr>
      <td>Name</td>
      <td>Category</td>
      <td>Description</td>
  
    </tr>
</thead>

<tbody>
  
  <% @items.each do |item| %>
<tr>
    <td><%= item.name %></td>
    <td><%= item.category %></td>
    <td><%= item.description %></td>

  <% end %>
</tr>
</tbody>

</table>
 </section>


