<section id='user-info'>

  <img src="<%= current_user.image_url %>"/></br>
  <%= current_user.name %></br>
  <%= current_user.bio %></br>
  <%= current_user.city %>,
  <%= current_user.state %>

 </section>


<!-- my borrows table
 -->

<h1>Things I've Borrowed</h1>
<table class="table table-bordered table-hover">
<section id='user-borrows'>
<thead>
  <tr>
      <td>Name</td>
      <td>Category</td>
      <td>Description</td>
      <td>Date</td>
    </tr>

</thead>
<tbody>
  <tr>
  <% @my_borrows.each do |borrow| %>

    <td><%= borrow.item.name%></td>
    <td><%= borrow.item.category %></td>
    <td><%= borrow.item.description %></td>
    <td><%= borrow.created_at.strftime("Borrowed on %m/%d/%Y") %></td>
<% end %>
<tr>
</tbody></table>
</section> 




<!-- My Items Currently Being borrowed
 -->

 <h1>Things of Mine Currently Being Borrowed</h1>
<table class="table table-bordered table-hover">
<section id='user-borrows'>
<thead>
  <tr>
      <td>Name</td>
      <td>Category</td>
      <td>Description</td>
      <td>Currently in the Possesion of</td>
      <td>Date</td>
    </tr>

</thead>
<tbody>
  <tr>
  <% @my_lends.each do |lend| %>

    <td><%= lend.item.name%></td>
    <td><%= lend.item.category %></td>
    <td><%= lend.item.description %></td>
    <td><%= lend.item.user.name %></td>
    <td><%= lend.created_at.strftime("Borrowed on %m/%d/%Y") %></td>
<% end %>
<tr>
</tbody></table>
</section> 







<!-- things I own -->

<h1>Things I Own</h1>
<!-- add an item -->



<h4>(Add a new Item)</h4>
<%= form_for @new_item do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> 

 <%= f.label :category %>
  <%= f.text_field :category %>

   <%= f.label :description %>
  <%= f.text_field :description %>  

<%= f.submit :submit, class: 'btn btn-primary' %>
<%end %>


<!-- add an item -->

<section id='user-items'>
<table class="table table-bordered table-hover">
<thead>
  <tr>
      <td>Name</td>
      <td>Category</td>
      <td>Description</td>
      <td>Description</td>

  
    </tr>
</thead>

<tbody>
  
  <% @items.each do |item| %>
<tr>
    <td><%= item.name %></td>
    <td><%= item.category %></td>
    <td><%= item.description %></td>

  <% end %>
</tr>
</tbody>

</table>
 </section>


