

<h3>All Books</h3>
<section id='user-items'>
<table class="table table-bordered table-hover">
<thead>
  <tr>
      <td>Name</td>
      <td>Author</td>
      <td>Description</td>
       <td>Owner</td>
       <td>Distance</td>
       <td>Ask to Borrow</td>

  
    </tr>
</thead>

<tbody>
  
  <% @all.each do |item| %>
<tr>
    <td><%= item.name %></td>
    <td><%= item.author %></td>
    <td><%= item.description %></td>
    <td><%= item.user.name %></td>
    <td><%= item.directions.distance %></td>

<td>
   <%= form_for @new_borrow do |f|%>
    <%= f.hidden_field :item_id, :value => item.id %>
    
    
    
     <%= f.submit %> 
     <% end %>
   </form>


</td>


</tr>
<% end %>

</tbody>

</table>
 </section>